
*, body{
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: #1d1a05;
  font-family: 'Montserrat', sans-serif;
}

header, nav, a, .menu{
  background-color: #ca3c25;
}

header {
  z-index:1000;
  position:fixed;
  height: 50px;
  width: 100%;
  display: flex;
}

nav{
  margin-left: 50px;
}

a{
  display: inline-block;
  margin: 15px;
}

/*imagenes*/
#imagenes{
  box-sizing: border-box;
  width: 100%;
  height: 350px;
  /*position: relative;*/
  padding-top: 100px;
  margin: auto 50px;
}

.panda{
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  margin: 0px 1%;
  width: 280px;
  height: 210px;
  border: 5px solid;
  border-color: #595959;
}

img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  width: 100%;
  height: 100%;
}

div.cerrar{
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 7px;
  background: none;
  cursor:auto;
}
/*.panda{
  display: none;
}*/









































-------------------------------------
#menu{
  text-align: center;
}
.menu{
  display: inline-block;
  width: 300px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
      margin: auto 10px;
}

#contenido{
      margin-top: 28px;
      text-align: center;
}

.contenido{
  display: inline-block;
  margin: auto 30px;
}

p{
  width: 500px;
  height: 100px;
  text-align: justify;
}
